<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="searchKeywords" value="fluke;abb;some more"/>
    <add key="smtpUsername" value="argigero@gmail.com"/>
    <add key="smtpPassword" value="Frabal1ts@"/>
    <add key="smtpHost" value="smtp.gmail.com"/>
    <add key="emailAddressToSend" value="argigero@gmail.com"/>
    <add key="smtpPort" value="587"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
