<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="searchKeywords" value="fluke;amprobe;releco"/>
    <add key="smtpUsername" value=""/>
    <add key="smtpPassword" value=""/>
    <add key="smtpHost" value=""/>
    <add key="emailAddressToSend" value=""/>
    <add key="smtpPort" value="25"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
